<div class="container">
    <button class="navbar-toggler hidden-sm-up pull-xs-left" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
    </button>
    <div class="text-xs-center m-t-3">
        <h1 class="brand m-t-1"><a href="/">Avid Pixels</a></h1>
        <nav class="navbar navbar-light center-block">
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
