<head>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Photos by an avid photography enthusiast" />
    <meta name="author" content="Vashishtha Jogi" />
    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/photoswipe/photoswipe.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/photoswipe/default-skin/default-skin.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/style.css" media="screen" />
</head>