<script src="https://use.typekit.net/ail0poi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/js/tether.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/photoswipe/photoswipe.min.js"></script>
<script src="/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="/assets/js/exif.js"></script>
<script src="/assets/js/application.js"></script>