---
layout: default
---


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
            <p class="text-xs-center lead">{{ page.description }}</p>  
        </div>
    </div>
    <div class="row">
        <div id="lightbox">
            {% for image in page.images %}
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
                <h4 class="text-uppercase">{{ image.title }}</h4>
                <p class="lead">{{ image.description }}</p>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12">
                <figure itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{ image.path }}" data-size="800x600" data-title="{{ image.title }}" itemprop="contentUrl">
                        <img src="{{ image.path }}" alt="{{ image.title }}" class="img-fluid lazy center-block" itemprop="thumbnail">    
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
</div>


<!-- Container for exif data -->

<div class="container-fluid">
    <div class="exif-info">
        <div class="vertical-cell">
            <div class="row">
                <div class="col-xs-6 offset-sm-4 col-sm-3">
                    <h2 class="info-title">Camera Make</h2>
                    <h3 id="camera-make" class="info-detail"></h3>
                </div>
                <!-- close .col -->
                <div class="col-xs-6 col-sm-3">
                    <h2 class="info-title">Camera Model</h2>
                    <h3 id="camera-model" class="info-detail"></h3>
                </div>
                <!-- close .col -->
            </div>
            <!-- close .row -->
            <div class="row">
                <div class="col-xs-6 offset-sm-4 col-sm-3">
                    <h2 class="info-title">Aperture</h2>
                    <h3 id="aperture" class="info-detail"></h3>
                </div>
                <!-- close .col -->
                <div class="col-xs-6 col-sm-3">
                    <h2 class="info-title">Shutter Speed</h2>
                    <h3 id="shutter-speed" class="info-detail"></h3>
                </div>
                <!-- close .col -->
            </div>
            <!-- close .row -->
            <div class="row">
                <div class="col-xs-6 offset-sm-4 col-sm-3">
                    <h2 class="info-title">Focal length</h2>
                    <h3 id="focal-length" class="info-detail"></h3>
                </div>
                <!-- close .col -->
                <div class="col-xs-6 col-sm-3">
                    <h2 class="info-title">ISO</h2>
                    <h3 id="iso" class="info-detail"></h3>
                </div>
                <!-- close .col -->
            </div>
            <!-- close .row -->
        </div>
        <button type="button" class="exif-close" aria-label="Close">
          <span aria-hidden="true">&times;</span> Close
        </button>
    </div>
</div>



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <button class="pswp__button--info" title="Info"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
